
    <!-- Footer Section-->

    <footer>
        <div class="content">
            <div class="col-4">
                <span>Contact Us</span>
                <ul>
                    <li><a href="tel: 8094397433">+91 8094397433</a></li>
                    <li> <a href="mailto: apna.baazar.2022@gmail.com">apna.baazar.2022@gmail.com</a></li>
                    <li> <a href=""></a> <b>Hindustan</b></li>
                </ul>
            </div>
            <div class="col-4">
                <span>Our Services</span>
                <ul>
                    <li><a href="index.html">Back Home</a></li>
                    <li><a [routerLink]="['/tandc']">Terms & Conditions</a></li>
                    <li><a [routerLink]="['/contactUs']">Contact Us</a></li>
                </ul>
            </div>
            <!-- <div class="col-4">
                <span>Quick Links</span>
                <ul>
                    <li><a href="#">Knowledge Base</a></li>
                    <li><a href="#">Hire An Expert</a></li>
                </ul>
            </div> -->
            <div class="col-4">
                <img src="../../assets/home/logonew.png" alt="footer-logo">
                <p>Apna Baazar, providing you the best quality products.</p>
            </div>
        </div>
        <div class="copy">
            <p>Copyright &copy; 2023 Apna Baazar&trade; | All rights reserved</p>
            <ul class="social">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook fb" aria-hidden="true"></a>
                </li>
                <li><a href="https://twitter.com/?lang=en-in" class="fa fa-twitter twitter"
                        aria-hidden="true"></a></li>
                <li><a href="www.google.co.in" class="fa fa-instagram insta" aria-hidden="true"></a></li>
                <li><a href="https://in.linkedin.com" class="fa fa-linkedin lnk" aria-hidden="true"></a>
                </li>
            </ul>
        </div>
    </footer>
