<script src="../../../node_modules/flickity/dist/flickity.pkgd.min.js"></script>


<div class="carousel2" data-flickity='{ "wrapAround": true }'>
    <div class="carousel-cell2"><a href="#"><img src="../../assets/home/thinBanner (1).png"></a></div>
    <div class="carousel-cell2"><a href="#"><img src="../../assets/home/thinBanner (2).png"></a></div>
    <div class="carousel-cell2"><a href="#"><img src="../../assets/home/thinBanner (3).png"></a></div>
    <div class="carousel-cell2"><a href="#"><img src="../../assets/home/thinBanner (4).png"></a></div>
</div>
