<!-- main body -->
<app-banner-slider></app-banner-slider>


<main>

    <span class="slider-heading">Electronics</span>
    <div class="outer max-width">

        <!-- <div class="leftArrow" onclick="moveLeft()">&#8592</div>
        <div class="rightArrow" onclick="moveRight()">&#8594</div> -->


        <a class="inner" [routerLink]="['/product']">
            <div class="img-div"><img src="../../assets/Products/computer (1).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 68,490</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>34% Off</span>
            </div>

            <div class="product-name">
                <span>Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/Backlit Keyboard/2Yr Warranty/Arctic Grey/1.65Kg), 82KU017KIN</span>
            </div>

        </a>


        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/computer (2).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 41,899</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>38% Off</span>
            </div>

            <div class="product-name">
                <span>Radiant Electro 18.5 inches All in One Gamming Computer Set (Intel-Core i5 Processor/8 GB RAM DDR3/HDD 1 Tb /18.5" Monitor/120 ssd/Keyboard/Mouse/Windows 10/MS Office) with One Year Warranty_06</span>
            </div>

        </a>


        <!-- Experiment card 3 -->
        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/computer (3).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 1,19,900</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>30% Off</span>
            </div>

            <div class="product-name">
                <span>2022 Apple MacBook Air Laptop with M2 chip: 34.46 cm (13.6-inch) Liquid Retina Display, 8GB RAM, 256GB SSD Storage, Backlit Keyboard, 1080p FaceTime HD Camera. Works with iPhone/iPad; Space Grey</span>
            </div>

        </a>


        <!-- Experiment card 4 -->

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/computer (4).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 71,990</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>31% Off</span>
            </div>

            <div class="product-name">
                <span>ASUS TUF Gaming A15, 15.6-inch (39.62 cms) FHD 144Hz, AMD Ryzen 5 4600H, 4GB NVIDIA GeForce GTX 1650, Gaming Laptop (8GB/512GB SSD/Windows 11/Black/2.3 Kg), FA506IHRZ-HN111W</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/computer (5).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 26,633</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>14% Off</span>
            </div>

            <div class="product-name">
                <span>HP Slim Tower Desktop PC Intel Celeron G5905(8GB RM/1TB HDD/Black Wired Mouse & Keyboard/Intel UHD Graphics/Win 11/MS Office/Jet Black), S01-pF2237in</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/speaker (1).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 2,999</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>37% Off</span>
            </div>

            <div class="product-name">
                <span>JBL Go 2, Wireless Portable Bluetooth Speaker with Mic, JBL Signature Sound, Vibrant Color Options with IPX7 Waterproof & AUX (Black)</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/speaker (2).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 1,999</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>50% Off</span>
            </div>

            <div class="product-name">
                <span>JMi Outdoor Bluetooth Speaker (5W) Up to 20 Hours Battery Life, Dynamic Sound Effect, Bluetooth 5.0, IPX5 Splash Proof, Compact & Premium Mesh Design</span>
            </div>

        </a>
        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/speaker (3).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 29,999</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>23% Off</span>
            </div>

            <div class="product-name">
                <span>Marshall Acton II 60 Watt Wireless Bluetooth Speaker (Black), (MRL1001900)</span>
            </div>
        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/speaker (4).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 2,990</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>67% Off</span>
            </div>

            <div class="product-name">
                <span>boAt Stone 170 with 5W Speaker Bluetooth V4.2 and a SD Card Slot, with a Playback time of 6 Hours, IPX 6 Water Resistant Design (Black)</span>
            </div>

        </a>
    </div>



    <span class="slider-heading">Baby's Section</span>
    <div class="outer max-width">



        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/baby_lotion (1).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 500</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>35% Off</span>
            </div>

            <div class="product-name">
                <span>Himalaya Baby Lotion 700ml</span>
            </div>

        </a>


        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/baby_lotion (2).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 350</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>1% Off</span>
            </div>

            <div class="product-name">
                <span>Baby Dove Rich Moisture Nourishing Baby Lotion 400 ml, With Moisturising Cream, Gentle Care for Baby's Soft Skin</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/baby_lotion (3).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 393</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>33% Off</span>
            </div>

            <div class="product-name">
                <span>The Moms Co. Natural Baby Lotion, Australia-Certified with Organic Apricot, Organic Jojoba and Organic Rice Bran Oils (200ml)</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/baby_lotion (4).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 399</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>3% Off</span>
            </div>

            <div class="product-name">
                <span>Mamaearth Super Strawberry Body Lotion & Cream for Kids with Strawberry & Shea Butter - 400 ml</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/baby_lotion (5).jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 299</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>29% Off</span>
            </div>

            <div class="product-name">
                <span>Mee Mee Nourishing Baby Lotion infused with Chamomile and Fruit Extracts for all Skin types and Newborn Babies/kids (500ml)</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/toy 1.jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9;899</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>70% Off</span>
            </div>

            <div class="product-name">
                <span>Toyshine Pack of 7 Rattle Set with Teathers for New Born Babies, Toy for Babies, Non-Toxic</span>
            </div>

        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/toy 2.jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 399</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>41% Off</span>
            </div>

            <div class="product-name">
                <span>Rifa Artism Wooden Xylophone for Kids Musical Instrument Piano Toy for Babies, Kids, Childrens with 8 Note (Multicolor)</span>
            </div>

        </a>
        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/toy 3.jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 150</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>5% Off</span>
            </div>

            <div class="product-name">
                <span>Ratnas Musical Ding Dong Rattle Toy Multicolour for Toddlers, New Born Babies, Non Toxic</span>
            </div>
        </a>

        <a class="inner" routerLink="/product">
            <div class="img-div"><img src="../../assets/Products/toy 4.jpg" alt="" class="image-resize"></div>

            <div class="price">
                <span>&#x20b9; 120</span>
            </div>

            <!-- <div class="brand">
                <span>Apple</span>
            </div> -->

            <div class="discount">
                <span>2% Off</span>
            </div>

            <div class="product-name">
                <span>Ratnas Musical Ding Dong Rattle Toy Multicolour for Toddlers, New Born Babies, Non Toxic</span>
            </div>

        </a>
    </div>


    <!-- *******************Categories in the form of cards******************* -->

        <span class="category-section-head slider-heading">More categories!</span>

        <div class="page-categories-container">

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard1.jpg" alt="">
                    <span>Beauty</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard2.jpg" alt="">
                    <span>Fashion</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard3.jpg" alt="">
                    <span>Footwear</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard4.jpg" alt="">
                    <span>Sports</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard5.jpg" alt="">
                    <span>Baby's Section</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard6.jpg" alt="">
                    <span>Mobiles</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard7.jpg" alt="">
                    <span>Electronics</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard8.jpg" alt="">
                    <span>Books</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard9.jpg" alt="">
                    <span>Jewelry</span>
                </div>
            </a>

            <a href="#">
                <div class="page-categories">
                    <img src="../../assets/home/categoryCard10.jpg" alt="">
                    <span>Home Decor</span>
                </div>
            </a>

        </div>


    <!-- Profile card -->
    <span class="slider-heading m-top">Our Team</span>

    <!-- <div class="profile"> -->


        <div id="profile-outer-div">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="our-team">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/home/Ashish.png">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Ashish Jha</h3>
                                <h4 class="title">Scholar, HCLTech</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook fb" aria-hidden="true"></a>
                                </li>
                                <li><a href="https://twitter.com/?lang=en-in" class="fa fa-twitter twitter"
                                        aria-hidden="true"></a></li>
                                <li><a href="www.google.co.in" class="fa fa-instagram insta" aria-hidden="true"></a></li>
                                <li><a href="https://in.linkedin.com" class="fa fa-linkedin lnk" aria-hidden="true"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="our-team">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/home/Ashok.png">
                            </div>
                            <div class="team-content">
                                <h3 class="name">S. Ashok Reddy</h3>
                                <h4 class="title">Scholar, HCLTech</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook fb" aria-hidden="true"></a>
                                </li>
                                <li><a href="https://twitter.com/?lang=en-in" class="fa fa-twitter twitter"
                                        aria-hidden="true"></a></li>
                                <li><a href="www.google.co.in" class="fa fa-instagram insta" aria-hidden="true"></a></li>
                                <li><a href="https://in.linkedin.com" class="fa fa-linkedin lnk" aria-hidden="true"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="our-team">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/home/KrishnaSree.png">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Appala Krishnasree</h3>
                                <h4 class="title">Scholar, HCLTech</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook fb" aria-hidden="true"></a>
                                </li>
                                <li><a href="https://twitter.com/?lang=en-in" class="fa fa-twitter twitter"
                                        aria-hidden="true"></a></li>
                                <li><a href="www.google.co.in" class="fa fa-instagram insta" aria-hidden="true"></a></li>
                                <li><a href="https://in.linkedin.com" class="fa fa-linkedin lnk" aria-hidden="true"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="our-team">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/home/Deepthi.jpeg">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Yellika Deepti</h3>
                                <h4 class="title">Scholar, HCLTech</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook fb" aria-hidden="true"></a>
                                </li>
                                <li><a href="https://twitter.com/?lang=en-in" class="fa fa-twitter twitter"
                                        aria-hidden="true"></a></li>
                                <li><a href="www.google.co.in" class="fa fa-instagram insta" aria-hidden="true"></a></li>
                                <li><a href="https://in.linkedin.com" class="fa fa-linkedin lnk" aria-hidden="true"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="our-team">
                            <div class="picture" id="sk">
                                <img class="img-fluid" src="../../assets/home/Sunil.png">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Sunil Kumar Nagar</h3>
                                <h4 class="title">Scholar, HCLTech</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook fb" aria-hidden="true"></a>
                                </li>
                                <li><a href="https://twitter.com/?lang=en-in" class="fa fa-twitter twitter"
                                    aria-hidden="true"></a></li>
                                <li><a href="www.google.co.in" class="fa fa-instagram insta" aria-hidden="true"></a></li>
                                <li><a href="https://in.linkedin.com" class="fa fa-linkedin lnk" aria-hidden="true"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="our-team">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/home/Siddharth.jpeg">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Siddharth More</h3>
                                <h4 class="title">Scholar, HCLTech</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook fb" aria-hidden="true"></a>
                                </li>
                                <li><a href="https://twitter.com/?lang=en-in" class="fa fa-twitter twitter"
                                        aria-hidden="true"></a></li>
                                <li><a href="www.google.co.in" class="fa fa-instagram insta" aria-hidden="true"></a></li>
                                <li><a href="https://in.linkedin.com" class="fa fa-linkedin lnk" aria-hidden="true"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- </div> -->


    <app-thin-banner></app-thin-banner>
</main>


<app-footer></app-footer>
