@import url("https://fonts.googleapis.com/css?family=Forum:regular");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0px;
    text-decoration: none;
    font-family: 'Poppins', serif;
    padding: 0px 0px;
    box-sizing: border-box;
}

header{
    /* background-color: aliceblue; */
    padding-bottom: 10px;
    /* min-height: 100vh; */
    height: fit-content;
}

a:link{
    color: black;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px 8px;
}

#navbar img{
    width: 17%;
    height: 17%;
    margin-bottom: 5px;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 10px;
    width: calc(30vw + 23px + 40px);
}

.search button{
    width: 60px;
    /* background-color: aqua; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 5px;
    transition: all 0.4s ease;
}

.search button:hover{
    border: 2px solid rgb(255, 153, 64);
    background-color: rgb(255, 153, 64);
    color: white;
}

.search input{
    outline: none;
    width: 30vw;
    padding: 8px 10px;
    /* background-image: url('../images/search.png');
    background-size: 25px;
    background-position: 5px 2px;
    background-repeat: no-repeat; */
    border: none;
    border-radius: 5px;
    /* margin-bottom: 5px; */
    background: transparent;
}

.cart-acc{
    width: 200px;
}

.navimg{
    padding: 0px 20px;
}

#categories ul{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 1.2%;
}

#categories ul li{
    padding: 0px 5px;
}

#categories a{
    box-sizing: border-box;
    padding: 7px 12px;
    transition: all 0.2s ease;
    border-radius: 6px;
}


#categories ul li a:hover{
    /* text-decoration: underline; */
    /* text-underline-offset: 5px; */
    background-color: rgb(255, 153, 64);
    /* color: white; */
}

.subcat ul li a:hover{
    background-color: white;
}

.active{
    background-color: rgb(255, 153, 64);
    border-radius: 3px;
}



.subcat {
    display: none;
    background-repeat: no-repeat;  
    z-index: 1222;

}

#categories ul li:hover .subcat{
    display: block;
    position: absolute;
    width: 100%;
    left: 0%;
    margin-top: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 4px 5px grey; */
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    outline: 6px solid rgb(218, 218, 218);
    outline-offset: -10px;
}

#categories ul li:hover .subcat ul{
    display: block;
    margin: 50px 0px;
}

#categories ul li:hover .subcat ul li{
    display: block;
    margin: 30px 25%;
    box-sizing: border-box;
    padding: 5px;
    /* margin-bottom: 7px; */
    border-left: 3px solid gold;
}

#categories ul li:hover .subcat ul li a{
    color: #000;
    transition: all 0.5s ease-in;
}

#categories ul li:hover .subcat ul li a:hover{
    color: #000;
    /* text-decoration: underline; */
    text-underline-offset: 6px;
}

/* 
#fp-img{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: black;
    background-image: url("../images/5124556.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
    background-attachment:fixed;
} */

.contactform{
    box-shadow: -10px 20px 30px rgb(184, 184, 184);
    position: absolute;
    top: 24%;
    left: 5%;
    padding: 40px 50px;
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

input{
    border: 0px solid white;
    border-bottom: 1.5px solid rgb(255, 153, 64);
    padding: 5px;
    font-size: 1em;
    width: 100%;
}


textarea{
    border: 0px solid white;
    border-bottom: 1.5px solid rgb(255, 153, 64);
    padding: 5px;
    font-size: 1em;
    width: 100%;
}

.submit{
    background-color: white;
    border: 1.5px solid rgb(255, 153, 64);
    padding: 10px;
    width: 70%;
    transition: all 0.4s ease;
}

.submit:hover{
    background-color:  rgb(255, 153, 64);
    color: white;
    font-weight:700;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

/* main{
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #000;
    height: fit-content;
    width: 100%;
} */

.addresscard{
    position: absolute;
    width: 50%;
    top: 30%;
    right: 0%;
    background-color: rgb(255, 255, 255);
    height: 60%;
    /* top: 125%; */
    box-shadow: -10px 20px 40px rgb(101, 101, 101);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.lefthalf{
    background-image: url("../images/addresscardimg.jpg");
    position: absolute;
    width: 40%;
    height: 100%;
    background-size: cover;
    /* background-size: 90%; */
    background-repeat: no-repeat;
    align-self: center;
    color: #000;
}

.righthalf{
    /* background-image: url("../images/undraw_subscribe_vspl.svg"); */
    position:absolute;
    width: 50%;
    height: 100%;
    right: 0%;
    color: #000;
    padding: 35px 10px;
}


.ac_heading{
    font-weight: 900;
}

.aba{
-webkit-mask-image: url("../images/logoLongB.png");
  mask-image: url("../images/addresscardimg.jpg");
  -webkit-mask-size: 70%;
  mask-size: 70%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;   
  width: 80%; 
  height: 100%;
  top: 0%;
  background-color: #000;
}