<main>
  <div id="leftHalf"></div>

  <div class="form-container">

    <div class="image"></div>

      <div class="form">

          <form  #loginForm="ngForm">

            <h1>Reset Password</h1>
            <h3 class="msg">{{errorMsg}}</h3>

            <label>Email</label>
            <br>
            <input type="email" placeholder="Enter email..." style="width: 100%;" required  name="userEmail" [(ngModel)]="forgotPasswordRequest.email">

            <br>

            <button type="submit" (click)="sendOTPMail(forgotPasswordRequest.email)" [disabled]="!emailValid">Generate OTP</button>
            <br><br>

            <label>OTP</label>
            <br>
            <input type="text" ngModel #otp placeholder="Enter OTP..." style="width: 100%;" minlength="6" maxlength="6" required  name="otp" [disabled]="emailValid">
            <button type="submit" (click)="validateOTP(otp.value)" [disabled]="emailValid">Validate Otp</button>

            <br><br>

            <label>New Password</label>
            <br>
            <input type="password"  placeholder="Enter password..." style="width: 100%;" minlength="8" required [(ngModel)]="forgotPasswordRequest.userPassword" #newPassword name="newPassword" [disabled]="oTPValid">
            <button type="submit" (click)="updatePassword()" [disabled]="oTPValid && newPassword">Update Password</button>

            <br><br>

          </form>


      </div>

  </div>
  </main>
