* {
  box-sizing: border-box;
  font-family: "Poppins";
}

h1, h3{
  font-family: "Poppins";
  text-align: center;
}

label{
  font-weight: 700;
  font-size: 1.1em;
  line-height: 2em;
}

.form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form{
  width: 300px;
  box-shadow: 0px 0px 10px orange;
  padding: 30px;
  margin-top: 2em;
}

.msg{
  color: red;
  text-align: center;
}

input[type=text], input[type=email], input[type=password]{
  padding: 6px;
}

button:enabled, button:disabled{
  padding: 5px;
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  transition: all 0.4s ease;
}

button:enabled:hover{
  cursor: pointer;
  background-color: orange;
  color: white;
}


.image{
  background-image: url("../../assets/forgotPassword.png");
  width: 50%;
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
}
