* {
  font-family: "Poppins";
}


h1{
  text-align: center;
  margin-top: 2em;
  font-family: 'Kaushan Script';
  font-size:3em;
  line-height: 2em;
}

h2{
  text-align: center;
  font-family: "Poppins";
  margin-top: 5em;
}


span{
  font-size: 1.7em;
  font-family: 'Kaushan Script';
}
